@import '~weathericons/sass/weather-icons.min';
@import "mixins";

@font-face {
	font-family: 'robotoblack';
	src: url('../font/Roboto-Black-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	margin: 0;
	background: #f0f0f0;
	height: 100%;
	display: block;
	font-family: "robotoblack", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	& > *{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		@include tablets(){
			height: 100%;
			position: static;
			top: 0;
			left: 0;
			margin: 0;
			transform: none;
		}
		@include phones(){
			position: static;
			top: 0;
			left: 0;
			margin: 0;
			transform: none;
		}
	}
	@include tablets(){
		display: block;
	}
	@include phones(){
		display: block;
	}
}

ul {
	padding: 0;
	margin: 0;

	li {
		list-style: none;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}
