@import '../variables';

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

*, *:before, *:after {
    box-sizing: border-box; 
}

html {
    font-size: 1.2vw;
   
}

body {
    overflow: hidden;
    margin: 0;
    height: 100vh;

    background-color: $page-background;
    background: $page-background-gradient;
    font-family: 'Open Sans', sans-serif;
}

abbr {
    text-decoration: none;
}

.widget {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 30%;

    margin-top: 50vh;
    margin-left: 50vw ;
    transform: translateY(-50%) translateX(-50%);
    
    background: $widget-background;
    box-shadow: $drop-shadow;
    border-radius: 10px;
  

    &__img {
        margin-top: 4.25rem; 
        width: 35%;
    }

    &__info {
        margin: 3.125rem 0 1rem;
        padding-left: 1rem;
        color: $font-color;
    }

    &__temp {
        float: left;
        width: 22.82%;

        font-size: 3.6rem;
        font-weight: 400;
    }

    &__header {
        float: left;
        margin: 0.6rem 0 0 4%;
        width: 54%;

        text-align: left;
    }

    &__title {
        margin: 0;

        font-size: 1rem;
        font-weight: 400;
    }
    &__description {
        margin: 0;

        font-size: 1.5rem;
        font-weight: 200;
    }

    &__date {
        float: right;
        margin-left: auto;
        padding: 1.05rem 4%;
        text-align: center;
        width: 19%;

        background-color: $date-background;
        color: $date-color;
        font-size: 0.8rem;
        font-weight: 800;
        line-height: 1.8;
        text-transform: uppercase;
    }

    &__details {
        padding: 1.875rem 8.75% 3.75rem 8.75%;

        background: $details-background;
        color: $details-color;
        border-radius: 0 0 9px 9px;
    }

    &__detail {
        float: left;
        width: 33.333%;

        font-size: 0.875rem;

        dt {
            display: inline-block;
            vertical-align: middle;

            img {
                height: 1.25rem;
                width: auto;
            }
        
        }

        dd {
            display: inline-block;
            margin-left: 12.75%;
        }

    }



    &__refresh {
        position: absolute;
        top: 17px;
        right: 17px;
        width: 5%;
        height:  1.25rem;

        border: none;
        background: url('assets/refresh.svg') no-repeat;

        span {
            display: none;
        }
    }


    &__controls {
        position: absolute;
        width: 100%;
        bottom: 1.25rem; 
    }

    &__control {
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        margin: 1.125%;

        border: 2px solid $controls-border;
        border-radius: 100%;

        &--active {
            border: 2px solid $control-active-color;
            background: $control-active-color;
        }
    }
}


@media (max-width: 600px) {
    
    html {
        font-size: 3.5vw;
    }

    .widget {
        width: 95%;
    }
}


@media screen and (max-width: 900px) and (orientation: portrait) {
    html {
        font-size: 3.2vw;
    }
    .widget {
        width: 90%;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    html {
        font-size: 2.5vw;
    }
    .widget {
        width: 70%;

        &__img {
            margin-top: 1.25rem;
            width: 25%;
        }

        &__info {
            margin: 0;
        }

        &__details {
            padding: 0.5rem 6.75% 1.3rem 6.75%;
        }

        &__controls {
            bottom: 0.65rem;
        }
    }
}