@font-face {
    font-family: "Dosis ExtraLight";
    src: url("fonts/dosis-extralight.ttf");
    font-weight: normal;
    font-style: normal;
}
.body_background{
    margin: 0;
    padding: 0;
    background: url("images/back.jpg") fixed center center no-repeat;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}
.body_display{
    display: grid;
    grid-template-rows: auto [box]auto auto;
    grid-template-columns: auto [box]600px auto;

}
.box{
    font-family: 'Dosis ExtraLight', arial, serif;
    background: #ffffff;
    box-shadow: 0 0 21px rgba(0,0,0,0.4) ;
    -webkit-box-shadow: 0 0 21px rgba(0,0,0,0.4) ;
    -moz-box-shadow: 0 0 21px rgba(0,0,0,0.4) ;
    grid-area: box;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}
.column{
    display: grid;
}
.column_city{
    background: url("images/tokyo2.png") no-repeat;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    grid-template-areas: "sun" "weather" "place";
}
.column_info{
    color: #771921;
    display: grid;
    grid-template-rows: [degrees]25% [graph]25% [plates]50%;
    justify-content: center;
}
.column__item_sun{
    grid-area: sun;
    align-self: center;
}
.column__item_weather{
    color: #fff;
    font-size: 36px;
    background-color: rgba(46, 28, 37, 0.9);
    grid-area: weather;
    display: grid;
    align-content: center;
}
.column__item_place{
    color: #fff;
    font-size: 22px;
    background-color: rgba(119, 25, 33, 0.9);
    border-bottom-left-radius: 5px;
    grid-area: place;
    display: grid;
    align-content: center;
}
.column__item_degrees{
    font-size: 6em;
    grid-area: degrees;
    align-self: center;
}
.column__item_graph{
    padding-top: 10%;
    grid-area: graph;
    border-top: 1px solid #771921;
    border-bottom: 1px solid #771921;
}
.column__item_plates{
    grid-area: plates;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10%;
    font-weight: 700;
    align-items: center;
}
.column__item-bottom-border {
    border-bottom: 1px solid #771921;
}
.column__plate div{
    margin-top: 1vh;
}

@media (max-width: 600px) {
    .body_display{
        grid-template-columns: auto [box]auto auto;
    }
    .box{
        grid-template-columns: 100%;
    }
    .column_info{
        padding: 2vh;
    }
    .column__item_graph img{
        height: 50px;
    }
    .column__item_degrees{
        font-size: 4em;
    }
    .column__item_place{
        border-bottom-left-radius: 0;
    }
}
@media (max-width: 900px) and (orientation: landscape){
    .column__item_graph{
        padding-top: 0;
    }
}

@media (min-width: 600px) and (max-width: 1024px){
    .body_display{
        grid-template-columns: auto [box]auto auto;

    }
}
