@font-face {
  font-family: "AvenirNext Bold";
  src: url("fonts/avenir-next-bold.woff");
}

body {
  display: flex;
  justify-content: center;
}

.forIE {
  min-height: 600px;
  height: auto !important;
  height: 600px;
  min-width: 200px;
  width: 800px;
}

main {
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-pack: center;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  flex-shrink: 2;
}

.weather-big-section {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "AvenirNext Bold", Arial;
  font-size: 16px;
  color: #ffffff;
  border: 1px outset rgba(0, 0, 0, 0.17);
}

.weather-big-icon {
  padding: 0 0 20px 0;
}

.section-one {
  background-color: #06b3db;
}
.section-two {
  background-color: #4ed486;
}
.section-three {
  background-color: #6139f6;
}
.section-four {
  background-color: #e3b63d;
}
.section-five {
  background-color: #dc3d66;
}
.section-six {
  background-color: #bd54cd;
}

.if-cloudy {
  padding: 15px 0 0 0;
}

.weather-of-the-week {
  width: 100%;
  height: 100px;
  background-color: #bd3559;
  flex-direction: row;
  display: flex;
}

.detail {
  padding: 24px 0 10px 0;
}

.weather-on-the-week {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.weather-small-icon {
  padding: 10px 0 10px 0;
}
