* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 360px;
  height: 100%;
  font-family: "Lato", sans-serif;
  color: white;
  background: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  list-style-type: none;
}

body {
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.weather-widget {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/Paris.png);
  min-width: 695px;
  height: 435px;
}
.weather-widget__wrapper {
  font-size: 16px;
  font-weight: 400;
}
.weather-widget__list-day {
  width: 17%;
  height: 60px;
  float: right;
  margin: 65px 0;
}
.weather-widget__week-day {
  font-size: 2em;
}
.weather-widget__list-temp {
  float: right;
  width: 30%;
  line-height: 45px;
  padding: 30px;
  margin: 50px 0;
}
.weather-widget__item-temp {
  font-size: 4.5em;
  font-weight: 900;
}
.weather-widget__item-span {
  position: relative;
}
.weather-widget__item-span:after {
  content: "o";
  position: absolute;
  font-size: 0.6em;
  right: -44px;
  top: -4px;
}
.weather-widget__item-town {
  font-size: 1.2em;
}
.weather-widget__digit-wind {
  font-size: 1.2em;
  font-weight: 900;
}
.weather-widget__list-nav {
  padding-left: 115px;
  text-align: center;
  position: relative;
  margin-top: 32px;
}
.weather-widget__list-nav li:nth-child(2) .weather-widget__day-condition,
.weather-widget__list-nav li:nth-child(3) .weather-widget__day-condition {
  padding-bottom: 25px;
}
.weather-widget__item-nav {
  width: 115px;
  float: left;
}
.weather-widget__day-condition {
  padding: 10px;
}
.weather-widget__digit {
  display: block;
}
.weather-widget__btn--prev {
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 60px;
  border: 0;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
.weather-widget__btn--prev:before {
  content: url("../images/back.png");
}
.weather-widget__btn--next {
  position: absolute;
  right: 80px;
  top: 35px;
  display: inline-block;
  border: 0;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
.weather-widget__btn--next:before {
  content: url("../images/next.png");
}
.weather-widget__digit {
  position: relative;
}
.weather-widget__digit:after {
  position: absolute;
  content: "o";
  font-size: 0.4em;
  top: -5px;
  right: 40px;
}
.weather-widget__list-nav li:nth-child(2) .weather-widget__day-condition {
  padding-top: 20px;
  padding-bottom: 10px;
}
.weather-widget__list-nav li:nth-child(3) .weather-widget__day-condition {
  padding-bottom: 11px;
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  .weather-widget {
    height: 900px;
    background-repeat: none;
    background-size: cover;
  }
  .weather-widget__wrapper {
    height: 675px;
  }
  .weather-widget__inwrapper {
    padding-top: 40px;
  }
  .weather-widget__list-day {
    float: left;
    padding-left: 20px;
    width: 40%;
    height: 150px;
    font-size: 2em;
    margin: 20px 0;
  }
  .weather-widget__list-temp {
    padding: 0;
    height: 400px;
    padding-left: 90px;
    width: 60%;
    margin-top: 200px;
    margin-bottom: 0;
  }
  .weather-widget__item-span {
    font-size: 2.5em;
  }
  .weather-widget__item-span::after {
    right: -65px;
  }
  .weather-widget__item-town {
    font-size: 2.8em;
    padding: 20px;
  }
  .weather-widget__item-wind {
    font-size: 1.8em;
  }
  .weather-widget__conditions {
    width: 100px;
    padding-left: 20px;
  }
  .weather-widget__list-nav {
    height: 200px;
    padding-left: 40px;
  }
  .weather-widget__list-nav li:nth-child(5) {
    margin: 0;
  }
  .weather-widget__day {
    font-size: 1.8em;
  }
  .weather-widget__item-nav {
    margin-right: 50px;
  }
  .weather-widget__day-condition {
    width: 90px;
  }
  .weather-widget__digit {
    font-size: 1.5em;
  }
  .weather-widget__btn--prev {
    top: 75px;
    left: 15px;
  }
  .weather-widget__btn--next {
    top: 75px;
    right: 15px;
  }
}
@media screen and (max-width: 700px) {
  html, body {
    background: none;
  }

  .weather-widget {
    position: initial;
    transform: none;
    min-width: 0;
    background: url(../images/Paris.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
  }
  .weather-widget ul {
    margin: 0;
  }
  .weather-widget__list-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .weather-widget__list-day, .weather-widget__list-temp {
    float: none;
  }
  .weather-widget__list-temp {
    text-align: center;
    width: auto;
  }
  .weather-widget__item-span {
    display: inline-block;
    padding-top: 40px;
  }
  .weather-widget__list-day {
    width: auto;
    padding-left: 15%;
  }
  .weather-widget__item-nav {
    width: 70px;
  }
  .weather-widget__list-nav {
    width: 290px;
  }
  .weather-widget__btn--next {
    right: -10px;
  }
  .weather-widget__btn--prev {
    top: 37px;
    left: -10px;
  }
  .weather-widget__day {
    font-size: 0.9em;
  }
  .weather-widget__digit::after {
    right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
