/* Fonts */
@font-face {
  font-family: "Avenir-Main"; 
  src: url(../fonts/Avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: "Avenir-Light"; 
  src: url(../fonts/Avenir/AvenirLTStd-Light.otf);
}

/* Body */
body {
  margin: 0;
}

/* Background */
.background {
  background-image: url("../img/background.jpg");
  filter: brightness(0.8) blur(10px);
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  z-index: -999; 
}

/* Container */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  margin: auto;
  &-small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 205px));
  grid-auto-rows: minmax(100px, 205px);
  align-self: center;
  justify-self: center;
  text-align: center;
  align-content: center;
  justify-content: center;
  img {
    margin: auto;
  }
  .block {
    display: grid;
    align-content: center;
    justify-content: center;
    font-family: 'Avenir-Main', 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 800;
    color: white;
    &-small {
      align-self: center;
      justify-self: center;
      text-align: center;
      font-family: 'Avenir-Light', 'Courier New', Courier, monospace;
      font-size: 12px;
      font-weight: 400;
      color: white;
    }
    &-first {
      background-color: #06b3db; 
    }
    &-second {
      background-color: #4ed486;
    }
    &-third {
      position: relative;
      background-color: #6139f6;
    }
    &-fourth {
      background-color: #e3b63d;
    }
    &-fifth {
      background-color: #dc3d66;
      position: relative;
      &_top {
        display: grid;
        align-content: center;
        justify-content: center;
        height: 50%; 
        img {
          height: 63px;
          width: 65px;
        }
      }
      &_bottom {
        display: grid;
        align-content: center;
        justify-content: center;
        height: 50%;
        background-color: #bd3559;
        p {
          padding: 5px;
          margin: 0;
        }
        img {
          width: 23px;
          height: 20px;
          margin: 0;
        }
      }
    }
    &-sixth {
      background-color: #bd54cd;
      position: relative;
    }
  }
}