.city {
  display: block;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  cursor: pointer;
  &--is-open{
    cursor: pointer;
    padding-top: 0;
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:50%;
  }
  &__weather{
    display: block!important;
    color: white;
    font-size: 60px;
    padding-top: 45px;
    text-align: center;
    &--is-open{
      display: block!important;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 40px;
    }
  }
  &__main{
    font-size: 0.9rem;
    color: white;
    padding-top: 45px;
    text-align: center;
    &--is-hidden{
      display: none;
    }
  }
}
