@import '../../../scss/mixins';

.days__list {
  color: #ffffff;
  position: absolute;
  left:0;
  right:0;
  top:50%;
  bottom:0;
  background-color: rgba(44, 54, 39, 0.3);
  padding: 15px 15px;
  overflow: hidden;
  @include tablets(){
    padding: 20px 20px;
  }
  @include phones(){
    padding: 20px 20px;
  }
  &:hover{
    cursor: default;
  }
}

.day {
  display: inline-block;
  height: 70px;
  width: 25%;
  &:nth-child(1) {
    float: left;
  }
  &:nth-child(4) {
    float: right;
  }
  &__name,&__temp {
    display: block;
    font-size: 0.75rem;
    text-align: center;
  }
  &__name{
    padding-bottom: 10px;
  }
  &__temp{
    padding-top: 10px;
  }
  &__weather{
    display: block!important;
    text-align: center;
    font-size: 15px;
  }
}