* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Lato", sans-serif;
  color: white;
  background: url("../images/bg.png");
  background-size: cover;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

body {
  display: grid;
}

.weather-widget {
  width: 700px;
  background: url(../images/Paris.png);
  background-repeat: no-repeat;
  display: grid;
  justify-self: center;
  align-self: center;
  grid-template: repeat(2, 162px) 112px/repeat(3, 1fr);
}
.weather-widget__list-day {
  justify-self: end;
  padding-top: 15px;
}
.weather-widget__list-temp {
  padding-left: 30px;
}
.weather-widget__wrapper {
  font-size: 16px;
  font-weight: 400;
  grid-column: 2/-1;
  grid-row: 1/3;
}
.weather-widget__inwrapper {
  display: grid;
  grid-auto-flow: column;
  padding-top: 80px;
}
.weather-widget__week-day {
  font-size: 2em;
}
.weather-widget__item-temp {
  font-size: 4.5em;
  font-weight: 900;
}
.weather-widget__item-span {
  position: relative;
}
.weather-widget__item-span:after {
  content: "o";
  position: absolute;
  font-size: 0.6em;
  right: -44px;
  top: -4px;
}
.weather-widget__item-town {
  font-size: 1.2em;
}
.weather-widget__digit-wind {
  font-size: 1.2em;
  font-weight: 900;
}

.weather-nav {
  grid-row-start: 3;
  grid-column: 1/-1;
  display: grid;
  grid-auto-flow: column;
  align-self: center;
}
.weather-nav__button-wrap {
  justify-self: center;
  align-self: center;
}
.weather-nav__item-nav {
  width: 100%;
  display: grid;
  border-right: 1px solid white;
}
.weather-nav__item-nav span, .weather-nav__item-nav img {
  align-self: center;
  justify-self: center;
}
.weather-nav li:nth-child(5) {
  border: 0;
}
.weather-nav__day-condition {
  height: 28px;
  padding: 10px;
}
.weather-nav__btn--prev {
  border: 0;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
.weather-nav__btn--prev:before {
  content: url("../images/back.png");
}
.weather-nav__btn--next {
  border: 0;
  padding: 0;
  background: none;
  color: white;
  cursor: pointer;
}
.weather-nav__btn--next:before {
  content: url("../images/next.png");
}
.weather-nav__digit {
  position: relative;
}
.weather-nav__digit:after {
  position: absolute;
  content: "o";
  font-size: 0.4em;
  top: -5px;
  right: -5px;
}

@media screen and (max-width: 768px) and (min-width: 700px) {
  .weather-widget {
    height: 100%;
    width: 100%;
    background: url(../images/Paris.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template: repeat(2, 38%) 24%/repeat(3, 1fr);
  }
  .weather-widget body {
    background: none;
  }
  .weather-widget__wrapper {
    grid-column: 1/3;
    grid-row: 1/3;
    font-size: 29px;
  }
  .weather-widget__list-temp {
    justify-self: end;
    padding-top: 150px;
  }
  .weather-widget__inwrapper {
    align-items: start;
    padding: 0;
  }

  .weather-nav {
    font-size: 25px;
    grid-auto-columns: 10px repeat(4, minmax(160px, 1fr)) 10px;
  }
  .weather-nav__item-nav {
    height: 60%;
  }
  .weather-nav__day-condition {
    height: 50px;
  }
  .weather-nav__digit {
    position: relative;
  }
  .weather-nav__digit:after {
    position: absolute;
    content: "o";
    font-size: 0.4em;
    top: -5px;
    right: -10px;
  }
}
@media screen and (max-width: 700px) {
  html {
    min-width: 250px;
  }

  .weather-widget {
    height: 100%;
    width: 100%;
    background: url(../images/Paris.png);
    background-repeat: no-repeat;
    background-size: cover;
    grid-template: repeat(2, 38%) 24%/repeat(3, 1fr);
  }
  .weather-widget__wrapper {
    grid-column: 1/3;
  }

  .weather-nav li:nth-last-child(3) {
    border: 0;
  }
  .weather-nav li:nth-last-child(2) {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
