* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 14px; 
}

body {
    background-color: #4e5860;
    background-image: radial-gradient(at top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
}

.widget {
    border-radius: 10px 10px 15px 15px;
    box-shadow: 0px 21px 20.16px 0.84px rgba(0, 0, 0, 0.15);
    margin: 50px auto 0; 
    width: 20%;
    min-width: 389px;
    height: 464px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 70.5% 29.5%;
    -ms-grid-rows: 70.5% 29.5%;
    -ms-grid-columns: 1fr;
}

.main {
    background-color: #f1f8f9;
    border-radius: 10px 10px 0 0;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 73.76% 26.24%;
    -ms-grid-rows: 73.76% 26.24%;
    -ms-grid-columns: 1fr;
}

.weather-image-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-template-columns: 9.5% 81% 9.5%;
    -ms-grid-columns: 9.5% 81% 9.5%;
    -ms-grid-rows: 1fr;
}

.empty-container {
    -ms-grid-row: 1; 
    -ms-grid-column: 1; 
}

.weather-icon {
    align-self: center;
    justify-self: center;
    -ms-grid-row: 1;
    -ms-grid-column: 2; 
    -ms-grid-column-align: center; 
    -ms-grid-row-align: center; 
}

.refresh-icon {
    margin: 16px 0 0;
    -ms-grid-row: 1; 
    -ms-grid-column: 3;
}

.current {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 29.5% 53.7% 16.8%;
    -ms-grid-columns: 29.5% 53.7% 16.8%;
    -ms-grid-rows: 1fr;
}

.temperature {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    position: relative;
}

.temperature-value {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4.11rem;
    color: #8d9396;
    margin: 0 0 0 18%; 
}

.temperature-value::after {
    content: ' O';
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #8d9396;
    position: absolute;
    top: 15%; 
}

.middle-column {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-template-rows: 47.7% 52.3%;
    -ms-grid-rows: 47.7% 52.3%;
}

.weather-text {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.71rem;
    color: #bac2c6;
    margin: 7px 0 0;
    -ms-grid-row: 1;
}

.location {
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.14rem;
    color: #bac2c6;
    -ms-grid-row: 2;
}

.date {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 46% 54%;
    -ms-grid-rows: 46% 54%;
    -ms-grid-columns: 1fr;
    height: 80.23%; 
    background-color: #54bae6;
    margin: 0;
}

.month, 
.day {
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 1em;
    justify-self: center;
    -ms-grid-column-align: center; 
    -ms-grid-column: 1;
}

.month {
    align-self: end;
    -ms-grid-row-align: end;
    -ms-grid-row: 1;
}

.day {
    align-self: start;
    -ms-grid-row-align: start;
    font-size: 1.28rem;
    -ms-grid-row: 2;
}

footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    background-color: #2e3335;
    border-radius: 0 0 10px 10px;
    display: -ms-grid;
    display: grid;
    grid-template-rows: 48.5% 51.5%;
    -ms-grid-rows: 50% 50%;
    -ms-grid-columns: 1fr;
}

.stats {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto 1fr auto;
    -ms-grid-columns: auto 1fr auto;
    -ms-grid-rows: 1fr;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: white;
    -ms-grid-row-align: end;
    align-self: end;
}

.stats-img {   
    margin: 0 16px 0 0;  
    justify-self: end;
    align-self: center;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
    -ms-grid-column: 1;  
}

.stats-text {
    -ms-grid-column: 2;
    -ms-grid-row-align: center;
    align-self: center; 
}

.wind {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto;
    -ms-grid-columns: 1fr auto;
    margin: 0 0 0 45px;
}

.humidity {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto;
    -ms-grid-columns: 1fr auto;
    justify-self: center; 
    -ms-grid-column-align: center;
}

.sun{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr auto;
    -ms-grid-columns: 1fr auto;
    margin: 0 45px 0 0;
}

.scroller {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    justify-self: center;
    -ms-grid-column-align: center;
    font-size: 0;
    align-self: end;
    -ms-grid-row-align: end;
    margin: 0 0 15px;
}

.scroller-img {
    margin: 4px;   
    vertical-align: middle;
} 

@media (max-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px) {

    html {
        font-size: 10px;
    }

    .widget {
        border-radius: 10px;
        min-width: 300px; 
        height: 328px;     
        grid-template-rows: 1fr;
        -ms-grid-rows: 1fr;  
    }

    .main {
        grid-template-rows: 80% 20%;
        -ms-grid-rows: 80% 20%;  
        border-radius: 10px;
    }

    .weather-image-container {
        grid-template-columns: 12% 76% 12%;
        -ms-grid-columns: 12% 76% 12%;
    }

    .temperature-value::after {
        top: 12%;
    }

    footer {
        display: none;
    }

}

@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {  
  
    html {
        font-size: 16px;
    }

    img {
        transform: scale(1.2);
        -ms-transform: scale(1.2);
    }

    .widget {      
        width: 20%;
        min-width: 506px;
        height: 603px;
    }

    .refresh-icon {
        margin: 24px 0 0;
    }

    .temperature-value::after {
        top: 12%;
    }

    .stats-img {   
        margin: 0 21px 0 0;        
    }
    
    .wind {
        margin: 0 0 0 60px;
    }
    
    .sun{
        margin: 0 60px 0 0;
    }
    
    .scroller {
        margin: 0 0 21px;
    }
    
    .scroller-img {
        margin: 5px;   
    } 

} 
