@font-face {
	font-family: "AvenirNext Bold";
	src: url('fonts/avenir-next-bold.woff');
}

main {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 0fr));
	background-color: #efefef;
	background-image: url(img/background.png);
	background-size: auto 100%;
	max-width: 799px;
	min-height: 600px;
	margin: auto;
	align-content: center;
	justify-content: center;
}

.weather-big-section {
	width: 200px;
	height: 200px;
	background-color: #06B3DB;
	display: grid;
	justify-content: center;
	align-content: space-evenly;
	font-family: "AvenirNext Bold", Arial;
	text-transform: uppercase;
	font-size: 16px;
	color: #ffffff;
	border: 1px outset rgba(0, 0, 0, 0.17); 
}

.section-one {
	background-color: #06B3DB;
}
.section-two {
	background-color: #4ed486;
}
.section-three {
	background-color: #6139f6;
}
.section-four {
	background-color: #e3b63d;
}
.section-five {
	background-color: #dc3d66;
}
.section-six {
	background-color: #bd54cd;
}

.weather-big-icon {
	display: grid;
	margin: auto;
}

.weather-of-the-week {
	width: 100%;	
	height: 100px;	
	background-color: #bd3559;
	grid-template-columns: 50px 50px 50px 50px;
	display: grid;	
}

.detail{
	margin: 24px auto 10px auto;
}

.weather-on-the-week {
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	font-size: 12px;
}
