$page-background: #4e5860;
$page-background-gradient: linear-gradient(to left, #4e5860, #5a646d, #4e5860);
$widget-background: #f1f8f9;

$date-background: #54bae6;
$date-color: #fff;

$details-background: #2e3335;
$details-color: #fff;

$controls-border: #4e4f50;
$control-active-color: #fff;

$drop-shadow: 0px 21px 21px 0 #00000025;

$font-color: #8d9396;