* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html {
    font-size: 14px;
}

body {
    background-color: #4e5860;
    background-image: radial-gradient(at top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 50%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.widget {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 20%;
    box-sizing: border-box;
    min-width: 389px; 
    height: 464px;
    background-color: #f1f8f9;
    border-radius: 10px 10px 15px 15px;
    box-shadow: 0px 21px 20.16px 0.84px rgba(0, 0, 0, 0.15);
}

.weather-image-container{
    width: 100%;
    height: 52%;
    display: flex;
    justify-content: space-between;
}

.empty-container {
    width: 9.5%;
}

.weather-icon {
    align-self: center;
    max-width: 100%;
    height: auto;
}

.refresh-icon {
    align-self: flex-start;
    margin-top: 16px;
    margin-right: 17px; 
}

.current {
    display: flex;
    width: 100%;
    height: 18.5%;
    justify-content: space-between;
}

.temperature {
    display: flex;
    width: 29.5%;
    justify-content: space-between;
    align-items: flex-start;
}

.temperature-value {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 4.11rem;
    color: #8d9396;
    margin-left: 17.39%; 
}

.degree-symbol {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #8d9396;
    margin-right: auto;
    margin-top: 12px; 
}

.middle-column {
    width: 53.7%;
    display: flex;
    flex-direction: column;
}

.weather-text {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.71rem;
    color: #bac2c6;
    margin-top: 7px;
}

.location {
    font-family: source-sans-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.14rem;
    color: #bac2c6;
}

.date {
    width: 16.8%;
    height: 80.23%;
    background-color: #54bae6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-right: 0;
}

.month, .day {
    font-family: open-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 1em; 
}

.day {
    font-size: 1.28rem;
}

footer {
    align-self: flex-end;
    background-color: #2e3335;
    width: 100%;
    height: 29.5%;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.stats {
    display: flex;
    width: 100%;
    margin-top: 46px;


    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    color: white;
    justify-content: space-between;
}

.stats img {   
    margin-right: 16px;        
}

.wind {
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.humidity {
    display: flex;
    align-items: center;
}

.sun{
    display: flex;
    align-items: center;
    margin-right: 45px;
}

.scroller {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    font-size: 0;
 }

.scroller img {
    margin: 4px;   
}

/* Смартфоны - ширина виджета 90% экрана, нет футера, шрифты более мелкие */
@media (max-width: 480px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 480px) {

    html {
        font-size: 12px;
    }

    .widget {
        width: 90%;
        min-width: 300px; 
        height: 328px; 
        border-radius: 10px;
        justify-content: space-between;
    }

    .weather-icon {
        padding-top: 35px; 
    }

    .current {
        margin-bottom: 50px;
    }

    .date {
        margin-top: 8px;
    }

    footer{
        display: none;
     }

}

/* Устройства с ретиной в портретной ориентации - ширина виджета 50% экрана, шрифты более крупные, иконка с погодой более крупная */
@media only screen and (min-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {  
  
    html {
        font-size: 18px;
    }

    .widget {
        width: 50%;
        height: 630px;
    }

    .weather-icon {
        transform: scale(1.5);
    }

}  

/* Устройства с ретиной в пейзажной ориентации - ширина виджета 36% экрана, шрифты более крупные, иконка с погодой более крупная */
@media only screen and (min-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {  
  
    html {
        font-size: 18px;
    }

    .widget {
        width: 36%;
        height: 630px;
    }

    .weather-icon {
        transform: scale(1.5);
    }

}