.city {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 100%;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
  &--is-open{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    -ms-grid-rows: 100%;
    grid-template-columns: auto;
    align-items: center;
    cursor: pointer;
    padding-top: 0;
    height: 50%;
  }
  &__weather{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    color: white;
    font-size: 60px;
    -ms-grid-column-align: center;
    -ms-grid-row-align: end;
    align-self: end;
    &--is-open{
      color: white;
      font-size: 40px;
      -ms-grid-row-align: center;
      -ms-grid-column-align: center;
      justify-self: center;
    }
  }
  &__main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    font-size: 0.9rem;
    color: white;
    &--is-hidden{
      display: none;
    }
  }
}
